{% extends 'users/base.html'%}
{% block content %}
<div id="c1">dir</div>
<div id="m1">Now, you may be looking for a specific file.
    You have a starting point but you don’t know the exact folder.
    In dir you can show all files in current directories</div>
<div id="c2">echo</div>
<div id="m2"> command in linux is used to display line of text/string that are passed as an argument .
    This is a built in command that is mostly used in shell scripts and
    batch files to output status text to the screen or a file.</div>
<div id="c3">tasklist</div>
<div id="m3">Tasklist command to display a list of currently-running tasks
</div>
<div id="c4">ver</div>
<div id="m4">
    It prints the name and version of the operating system.</div>
<div id="c5">path</div>
<div id="m5">
    Path shows the current path information.</div>
    {% endblock content %}
